/* Remove default margins & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove black background */
body {
  background: #fff; /* or your color */
  color: #000;
  font-family: sans-serif;
}
/*
input {
  width: 50%;
  padding: 12px 16px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.25s;
  outline: none;
  margin-bottom: 10px;
}

input:focus {
  border-color: #4c8bf5;
  background: #f5faff;
}

.form-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}

button{
  width: 20%;
  padding: 12px 16px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
}


*/